// Ghotam Pro

@font-face {
	font-family: 'Gotham Pro';
	src: url('@/assets/fonts/Gotham Pro/gothampro_black.ttf');
	src: local('gothampro'), local('gothampro'),
		url('@/assets/fonts/Gotham Pro/gothampro.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}